

CREATE TABLE [dbo].[course](
	[cid] [int] NULL,
	[cname] [nvarchar](10) NULL,
	[tid] [int] NULL
) ON [PRIMARY]
--课程表
INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (1, N'计算机基础', 62)
INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (2, N'java基础', 62)
INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (3, N'数据库基础', 61)

CREATE TABLE [dbo].[Teacher](
	[Tid] [int] NULL,
	[Tname] [nvarchar](10) NULL
) ON [PRIMARY]
--教师表
INSERT [dbo].[Teacher] ([Tid], [Tname]) VALUES (61, N'李清照')
INSERT [dbo].[Teacher] ([Tid], [Tname]) VALUES (62, N'苏轼')
INSERT [dbo].[Teacher] ([Tid], [Tname]) VALUES (63, N'李白')

CREATE TABLE [dbo].[student](
	[sid] [int] NOT NULL,
	[sname] [nvarchar](10) NULL,
	[sage] [int] NULL,
	[ssex] [nchar](1) NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
--学生表
INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (11, N'王彬彬', 18, N'女')
INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (12, N'徐广慧', 17, N'男')
INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (13, N'王梦瑶', 18, N'女')

CREATE TABLE [dbo].[SC](
	[sid] [int] NULL,
	[cid] [int] NULL,
	[score] [int] NULL
) ON [PRIMARY]
--成绩表
INSERT [dbo].[SC] ([sid], [cid], [score]) VALUES (11, 1, 80)
INSERT [dbo].[SC] ([sid], [cid], [score]) VALUES (11, 2, 81)
INSERT [dbo].[SC] ([sid], [cid], [score]) VALUES (11, 3, 82)

ALTER TABLE [dbo].[SC]  WITH CHECK ADD  CONSTRAINT [FK_sc_student] FOREIGN KEY([sid])
REFERENCES [dbo].[student] ([sid])

ALTER TABLE [dbo].[SC] CHECK CONSTRAINT [FK_sc_student]

