创建教师表：
CREATE TABLE [dbo].[teacher](
	[tid] [int] NOT NULL,
	[tname] [nvarchar](10) NULL,
 CONSTRAINT [PK_teacher] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
插入教师数据：
INSERT [dbo].[teacher] ([tid], [tname]) VALUES (61, N'李清照')
INSERT [dbo].[teacher] ([tid], [tname]) VALUES (62, N'苏轼')
INSERT [dbo].[teacher] ([tid], [tname]) VALUES (63, N'李白')
INSERT [dbo].[teacher] ([tid], [tname]) VALUES (64, N'马云')
创建学生表：
CREATE TABLE [dbo].[student](
	[sid] [int] NOT NULL,
	[sname] [nvarchar](10) NULL,
	[sage] [int] NULL,
	[ssex] [nchar](1) NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
插入学生数据：
INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (11, N'王彬彬', 18, N'女')
INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (12, N'徐广慧', 17, N'男')
INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (13, N'王梦瑶', 18, N'女')
INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (26, N'陈起航', 18, N'女')
创建课程表：
CREATE TABLE [dbo].[course](
	[cid] [int] NOT NULL,
	[cname] [nvarchar](10) NULL,
	[tid] [int] NOT NULL,
 CONSTRAINT [PK_course] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
插入课程数据：
INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (1, N'计算机基础', 62)
INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (2, N'java基础', 62)
INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (3, N'数据库基础', 61)
INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (7, N'网络营销', 64)
创建成绩表：
CREATE TABLE [dbo].[sc](
	[sid] [int] NOT NULL,
	[cid] [int] NOT NULL,
	[score] [int] NULL,
 CONSTRAINT [PK_sc] PRIMARY KEY CLUSTERED 
(
	[sid] ASC,
	[cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
插入成绩数据：
INSERT [dbo].[sc] ([sid], [cid], [score]) VALUES (11, 1, 80)
INSERT [dbo].[sc] ([sid], [cid], [score]) VALUES (11, 2, 81)
INSERT [dbo].[sc] ([sid], [cid], [score]) VALUES (11, 3, 82)
