
CREATE TABLE [dbo].[Teacher](
	[Tid] [int] NOT NULL,
	[tname] [nvarchar](10) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[Tid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[Teacher] ([Tid], [tname]) VALUES (61, N'李清照')
INSERT [dbo].[Teacher] ([Tid], [tname]) VALUES (62, N'苏轼')
INSERT [dbo].[Teacher] ([Tid], [tname]) VALUES (63, N'李白')

CREATE TABLE [dbo].[student0](
	[sid] [int] NOT NULL,
	[sname] [nvarchar](10) NULL,
	[sage] [int] NULL,
	[ssex] [nchar](1) NULL,
 CONSTRAINT [PK_student0] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[student0] ([sid], [sname], [sage], [ssex]) VALUES (11, N'王彬彬', 18, N'女')
INSERT [dbo].[student0] ([sid], [sname], [sage], [ssex]) VALUES (12, N'徐广慧', 17, N'男')
INSERT [dbo].[student0] ([sid], [sname], [sage], [ssex]) VALUES (13, N'王梦瑶', 18, N'女')

CREATE TABLE [dbo].[Course](
	[Cid] [int] NOT NULL,
	[Cname] [nvarchar](10) NULL,
	[Tid] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[Course] ([Cid], [Cname], [Tid]) VALUES (1, N'计算机基础', 62)
INSERT [dbo].[Course] ([Cid], [Cname], [Tid]) VALUES (2, N'java基础', 62)
INSERT [dbo].[Course] ([Cid], [Cname], [Tid]) VALUES (3, N'数据库基础', 61)

CREATE TABLE [dbo].[SC](
	[sid] [int] NOT NULL,
	[cid] [int] NOT NULL,
	[score] [int] NULL,
 CONSTRAINT [PK_Course0] PRIMARY KEY CLUSTERED 
(
	[sid] ASC,
	[cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[SC] ([sid], [cid], [score]) VALUES (11, 1, 80)
INSERT [dbo].[SC] ([sid], [cid], [score]) VALUES (11, 2, 76)
INSERT [dbo].[SC] ([sid], [cid], [score]) VALUES (11, 3, 82)

print 'Processed 100 total records'



