USE [day02]
GO
/****** Object:  Table [dbo].[EMP]    Script Date: 12/21/2017 15:13:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP](
	[EMPNO] [int] NOT NULL,
	[ENAME] [nvarchar](10) NULL,
	[JOB] [nvarchar](9) NULL,
	[MGR] [int] NULL,
	[HIREDATE] [date] NULL,
	[SAL] [int] NULL,
	[COMM] [int] NULL,
	[DEPTNO] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[EMP] ([EMPNO], [ENAME], [JOB], [MGR], [HIREDATE], [SAL], [COMM], [DEPTNO]) VALUES (7369, N'SMITH', N'CLERK', 7902, CAST(0xDD080B00 AS Date), 800, NULL, 20)
INSERT [dbo].[EMP] ([EMPNO], [ENAME], [JOB], [MGR], [HIREDATE], [SAL], [COMM], [DEPTNO]) VALUES (7499, N'ALLEN', N'SALESMAN', 7698, CAST(0x1E090B00 AS Date), 1600, 300, 30)
INSERT [dbo].[EMP] ([EMPNO], [ENAME], [JOB], [MGR], [HIREDATE], [SAL], [COMM], [DEPTNO]) VALUES (7521, N'WARD', N'SALESMAN', 7698, CAST(0x20090B00 AS Date), 1250, 500, 30)
/****** Object:  Table [dbo].[DEPT]    Script Date: 12/21/2017 15:13:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPT](
	[DEPTNO] [int] NULL,
	[DNAME] [nvarchar](14) NULL,
	[LOC] [nvarchar](13) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DEPT] ([DEPTNO], [DNAME], [LOC]) VALUES (10, N'ACCOUNTING', N'NEW YORK')
INSERT [dbo].[DEPT] ([DEPTNO], [DNAME], [LOC]) VALUES (20, N'RESEARCH', N'DALLAS')
INSERT [dbo].[DEPT] ([DEPTNO], [DNAME], [LOC]) VALUES (30, N'SALES', N'CHICAGO')
