
CREATE TABLE [dbo].[goods](
	[gid] [int] NOT NULL,
	[gname] [nvarchar](10) NULL,
	[unit] [nvarchar](5) NULL,
	[spec] [nvarchar](10) NULL,
	[price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_goods] PRIMARY KEY CLUSTERED 
(
	[gid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[goods] ([gid], [gname], [unit], [spec], [price]) VALUES (1, N'饼干', N'包', N'好吃点', CAST(12.90 AS Decimal(10, 2)))
INSERT [dbo].[goods] ([gid], [gname], [unit], [spec], [price]) VALUES (2, N'饼干', N'包', N'奥利奥', CAST(21.60 AS Decimal(10, 2)))
INSERT [dbo].[goods] ([gid], [gname], [unit], [spec], [price]) VALUES (3, N'山楂片', N'包', N'800g', CAST(5.40 AS Decimal(10, 2)))

CREATE TABLE [dbo].[dept](
	[deptno] [int] NOT NULL,
	[dname] [nvarchar](10) NULL,
 CONSTRAINT [PK_dept] PRIMARY KEY CLUSTERED 
(
	[deptno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[dept] ([deptno], [dname]) VALUES (10, N'财务部')
INSERT [dbo].[dept] ([deptno], [dname]) VALUES (20, N'生产部')
INSERT [dbo].[dept] ([deptno], [dname]) VALUES (30, N'设备部')

CREATE TABLE [dbo].[outdetail](
	[outid] [int] NOT NULL,
	[gid] [int] NULL,
	[outnamt] [int] NULL,
	[month] [nvarchar](10) NULL,
	[detpno] [int] NOT NULL,
 CONSTRAINT [PK_outdetail_1] PRIMARY KEY CLUSTERED 
(
	[outid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[outdetail] ([outid], [gid], [outnamt], [month], [detpno]) VALUES (6, 2, 8, N'2017年5月', 20)
INSERT [dbo].[outdetail] ([outid], [gid], [outnamt], [month], [detpno]) VALUES (8, 2, 16, N'2017年6月', 10)
INSERT [dbo].[outdetail] ([outid], [gid], [outnamt], [month], [detpno]) VALUES (9, 2, 18, N'2017年6月', 20)

CREATE TABLE [dbo].[indetail](
	[inid] [int] NOT NULL,
	[gid] [int] NULL,
	[inamt] [int] NULL,
	[month] [nvarchar](10) NULL,
 CONSTRAINT [PK_indetail] PRIMARY KEY CLUSTERED 
(
	[inid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[indetail] ([inid], [gid], [inamt], [month]) VALUES (1, 1, 20, N'2017年5月')
INSERT [dbo].[indetail] ([inid], [gid], [inamt], [month]) VALUES (2, 1, 50, N'2017年6月')
INSERT [dbo].[indetail] ([inid], [gid], [inamt], [month]) VALUES (3, 1, 70, N'2017年7月')

ALTER TABLE [dbo].[outdetail]  WITH CHECK ADD  CONSTRAINT [FK_outdetail_dept] FOREIGN KEY([detpno])
REFERENCES [dbo].[dept] ([deptno])

ALTER TABLE [dbo].[outdetail] CHECK CONSTRAINT [FK_outdetail_dept]


ALTER TABLE [dbo].[outdetail]  WITH CHECK ADD  CONSTRAINT [FK_outdetail_goods] FOREIGN KEY([gid])
REFERENCES [dbo].[goods] ([gid])

ALTER TABLE [dbo].[outdetail] CHECK CONSTRAINT [FK_outdetail_goods]

