
CREATE TABLE [dbo].[teacher](
	[tid] [int] NOT NULL,
	[tname] [nvarchar](10) NULL,
 CONSTRAINT [PK_teacher] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[teacher] ([tid], [tname]) VALUES (61, N'李清照')
INSERT [dbo].[teacher] ([tid], [tname]) VALUES (62, N'苏轼')
INSERT [dbo].[teacher] ([tid], [tname]) VALUES (63, N'李白')

CREATE TABLE [dbo].[student](
	[sid] [int] NOT NULL,
	[sname] [nvarchar](10) NULL,
	[sage] [int] NULL,
	[ssex] [nchar](1) NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (11, N'王彬彬', 18, N'女')
INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (12, N'徐广慧', 17, N'男')
INSERT [dbo].[student] ([sid], [sname], [sage], [ssex]) VALUES (13, N'王梦瑶', 18, N'女')

CREATE TABLE [dbo].[course](
	[cid] [int] NOT NULL,
	[cname] [nvarchar](10) NULL,
	[tid] [int] NOT NULL,
 CONSTRAINT [PK_course] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (1, N'计算机基础', 62)
INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (2, N'java基础', 62)
INSERT [dbo].[course] ([cid], [cname], [tid]) VALUES (3, N'数据库基础', 61)

CREATE TABLE [dbo].[sc](
	[sid] [int] NOT NULL,
	[cid] [int] NOT NULL,
	[score] [int] NULL,
 CONSTRAINT [PK_sc] PRIMARY KEY CLUSTERED 
(
	[sid] ASC,
	[cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[sc] ([sid], [cid], [score]) VALUES (11, 1, 80)
INSERT [dbo].[sc] ([sid], [cid], [score]) VALUES (11, 2, 81)
INSERT [dbo].[sc] ([sid], [cid], [score]) VALUES (11, 3, 82)

print 'Processed 100 total records'
/****** Object:  ForeignKey [FK_course_teacher]    Script Date: 12/27/2017 15:57:58 ******/
ALTER TABLE [dbo].[course]  WITH CHECK ADD  CONSTRAINT [FK_course_teacher] FOREIGN KEY([tid])
REFERENCES [dbo].[teacher] ([tid])

ALTER TABLE [dbo].[course] CHECK CONSTRAINT [FK_course_teacher]

/****** Object:  ForeignKey [FK_sc_course]    Script Date: 12/27/2017 15:57:58 ******/
ALTER TABLE [dbo].[sc]  WITH CHECK ADD  CONSTRAINT [FK_sc_course] FOREIGN KEY([cid])
REFERENCES [dbo].[course] ([cid])

ALTER TABLE [dbo].[sc] CHECK CONSTRAINT [FK_sc_course]

/****** Object:  ForeignKey [FK_sc_student1]    Script Date: 12/27/2017 15:57:58 ******/
ALTER TABLE [dbo].[sc]  WITH CHECK ADD  CONSTRAINT [FK_sc_student1] FOREIGN KEY([sid])
REFERENCES [dbo].[student] ([sid])

ALTER TABLE [dbo].[sc] CHECK CONSTRAINT [FK_sc_student1]

